body{
    background-color: #212121;
    color:white;
    font-family: sans-serif
}
.container{
    display:flex;
    background-color: #212121;
    margin-top: 30px;
    margin-bottom:30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 730px;
    gap:200px;
    flex-wrap: wrap;
}
.color{
    background-color: #212121;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 80px;
    width: 25%;
    border-radius: 10px;
}
.color-chooser{
    margin-top:10px;
    margin-bottom:10px;
    background-color: #212121;
    height:97%;
    margin-left:10px;
    margin-right: 10px;
    display:flex;
    flex-direction: column;
    
}
.drawing{
    background-color: grey;
    margin-top: 60px;
    margin-bottom: 60px;
    display:grid;
    grid-gap: 0rem;
    grid-template-rows: repeat(var(--grid-rows), .1fr);
    grid-template-columns: repeat(var(--grid-cols), .5fr);
}
.grid-item{
    padding:1rem;
    border: 1px solid #ddd;
    text-align: center;
}

.paint{
    height: 50%;
    display:flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10%;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}

input#colorpicker{
    height: 300px;
    width: 500px;
}

h2#Head{
    color:rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

h3#Head{
    color: rgb(255, 255, 255);
    text-align:center;
}

button#clear{
    border-radius:12px;
    width:300px;
    border:none;
    height: 40px;
    margin-left:20px;
    margin-top: 35px;
}
button#clear:hover{
    cursor:pointer;
    background-color: #1e1c1c;
    color:white;
}

button#random{
    display:flex;
    border-radius:12px;
    width: 300px;
    border:none;
    height:40px;
    margin-left:40px;
    margin-top:35px;
}

.buttons{
    display:flex;
    align-items: center;
    margin-right:20px;
    justify-content: center;
}